
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-img src="assets/img/logoyoga.png" style="width: 40px;"></ion-img>
      </ion-buttons>
      <ion-title>Asana Flow</ion-title>
      <ion-buttons slot="end">
        <ion-button fill="outline">Login | Registred</ion-button>
        <ion-button fill="outline" color="danger">Logout</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Ley de protección de datos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Acorde a la normativa vigente de protección de datos, y al Reglamento (UE) 2016/679...
          esta Política de Privacidad se aplica a los tratamientos de datos de carácter personal que Asana Flow realiza
          como Responsable y/o Encargado de los mismos, en relación con los datos que los usuarios y/o clientes
          facilitan como consecuencia de la contratación de los servicios.
          Más información en:
          <a href="https://www.asanaflow.com/">https://www.asanaflow.com/</a>
        </p>

        <ion-list>
          <ion-list-header><ion-label><strong>APARTADOS:</strong></ion-label></ion-list-header>
          <ion-item>1.- Responsable del tratamiento de sus datos</ion-item>
          <ion-item>2.- Finalidad del tratamiento</ion-item>
          <ion-item>3.- Plazo de conservación</ion-item>
          <ion-item>4.- Legitimación del tratamiento</ion-item>
          <ion-item>5.- Destinatarios de cesiones o transferencias</ion-item>
          <ion-item>6.- Derechos de las personas interesadas</ion-item>
          <ion-item>7.- Datos de menores</ion-item>
          <ion-item>8.- Medidas de seguridad que aplicamos</ion-item>
          <ion-item>9.- Derechos del usuario</ion-item>
          <ion-item>10.- Cookies</ion-item>
          <ion-item>11.- Conservación de los datos de carácter personal</ion-item>
          <ion-item>12.- Posibilidad de retirar el consentimiento</ion-item>
        </ion-list>


        <ion-card-subtitle>1.- RESPONSABLE DEL TRATAMIENTO DE SUS DATOS</ion-card-subtitle>
        <ion-list>
          <ion-item><strong>Denominación Social:</strong> Asana Flow, S.L.</ion-item>
          <ion-item><strong>Marca comercial:</strong> Asana Flow</ion-item>
          <ion-item><strong>Domicilio:</strong> Calle de la Innovación, 22, 28010, Madrid</ion-item>
          <ion-item><strong>NIF:</strong> B12345678</ion-item>
          <ion-item><strong>Email:</strong> contacto&#64;asanaflow.com</ion-item>
          <ion-item><strong>Datos de inscripción:</strong> Registro Mercantil de Madrid Tomo 12345, Folio 67, Hoja
            M-543210</ion-item>
        </ion-list>

        <ion-card-subtitle>2.- FINALIDADES DEL TRATAMIENTO</ion-card-subtitle>
        <p>Sus datos personales se utilizarán con la finalidad genérica de la gestión y control del negocio...</p>
        <ion-list>
          <ion-item>Gestionar el acceso y uso correcto de los Servicios.</ion-item>
          <ion-item>Responder a incidencias, dudas, solicitudes, comentarios, etc.</ion-item>
          <ion-item>Actualizar y proteger los servicios y actividades.</ion-item>
          <ion-item>Ofrecer nuevos talleres y servicios.</ion-item>
          <ion-item>Comunicaciones informativas (no renunciables).</ion-item>
          <ion-item>Comunicaciones comerciales (marketing): previa autorización.</ion-item>
          <ion-item>Visibilidad de clases, likes y comentarios por otros usuarios.</ion-item>
        </ion-list>

        <p>No trataremos sus datos personales para ninguna otra finalidad más allá de las descritas anteriormente, salvo
          que venga impuesto por ley o exista algún requerimiento judicial.</p>

        <h5>3.-PLAZO DE CONSERVACIÓN</h5>
        <p>Los datos personales proporcionados se conservarán y tratarán, todo el tiempo que dure la relación de
          prestación de servicios, sin perjuicio de la posibilidad de ejercitar su derecho de supresión, en cuyo caso
          Asana Flow bloqueará sus datos durante el tiempo que persistan sus obligaciones legales.</p>
        <p>Los datos personales de las personas interesadas en la recepción de información sobre los Servicios se
          mantendrán en el sistema de forma indefinida en tanto el interesado no solicite su supresión.</p>


        <ion-card-subtitle>4.- LEGITIMACIÓN DEL TRATAMIENTO</ion-card-subtitle>
        <p>La base legal para el tratamiento de los datos es la legitimación basada en el <b>consentimiento del
            interesado</b> prestado para las finalidades anteriormente descritas, que se solicitará en el momento de:
        </p>
        <ion-list>
          <ion-item>Antes de proceder a tratar sus datos,</ion-item>
          <ion-item>Proceder al registro como usuario o,</ion-item>
          <ion-item>Proceder a la activación de los Servicios de Asana Flow.</ion-item>
        </ion-list>
        <p>El interesado puede libremente negarse a facilitarnos esos datos o, posteriormente, revocar el consentimiento
          previamente otorgado para tratar sus datos, si bien esa negativa implicará la imposibilidad de que podamos
          atender su petición o prestarle el servicio que se trate.</p>
        <p>Igualmente, podremos tratar sus datos en base al <b>Interés legítimo</b> de Asana Flow en mantener y
          fidelizar a sus clientes y/o usuarios y atender mejor sus expectativas o intereses previamente manifestados,
          ej.: mejorar servicios, gestionar solicitudes, consultas, dudas o reclamaciones, ofrecer servicios similares a
          los contratados, informar sobre promociones, ofertas, etc., sin perjuicio del cumplimiento por parte de Asana
          Flow del resto de obligaciones relativas al envío de comunicaciones comerciales por vía electrónica.</p>

          <h5>5.-DESTINATARIOS DE CESIONES O TRANSFERENCIAS.</h5>
          <p>Con carácter general, Asana Flow no cederá sus datos personales a terceros salvo que estemos obligados legalmente a ello, siendo los siguientes supuestos:</p>
          <ion-list>
              <ion-item>Agencia Estatal de la Administración Tributaria y a bancos y entidades financieras para el cobro del servicio prestado o producto adquirido; en virtud de obligación legal.</ion-item>
              <ion-item>Encargados del tratamiento necesarios para la prestación del servicio, quienes tendrán firmado un contrato de prestación de servicios que les obliga a mantener el mismo nivel de privacidad que el del responsable.</ion-item>
          </ion-list>
  
          <p>Asana Flow no cederá sus datos personales salvo que usted nos lo haya autorizado expresamente al hacer uso de nuestros servicios.</p>
          <p>En el caso de que alguna de las cesiones implique una transferencia internacional de datos al usar aplicaciones americanas, estará adherida al convenio Privacy Shield, que garantiza que las empresas de software americano cumplen las políticas de protección de datos europeas en materia de privacidad.</p>
          <p>Al aceptar las Condiciones de los Servicios, usted consiente expresamente en estas cesiones. En caso de revocación de su consentimiento no podremos seguir prestándole los Servicios.</p>
  
          <h5>6.-DERECHOS DE LAS PERSONAS INTERESADAS.</h5>
          <p>Cualquier persona tiene derecho a obtener confirmación sobre si en Asana Flow se tratan datos personales que le conciernan, o no. En particular, usted puede ejercer ante Asana Flow los siguientes derechos:</p>
          <ion-list>
              <ion-item><b>Derecho de acceso:</b> permite al interesado conocer y obtener información sobre sus datos de carácter personal sometidos a tratamiento.</ion-item>
              <ion-item><b>Derecho de rectificación:</b> permite corregir errores, modificar los datos que resulten ser inexactos o incompletos y garantizar la certeza de la información objeto del tratamiento.</ion-item>
              <ion-item><b>Derecho de supresión:</b> permite solicitar la eliminación de los datos objeto de tratamiento cuando ya no sean necesarios para la ejecución o prestación del servicio.</ion-item>
              <ion-item><b>Derecho de oposición:</b> derecho del interesado a que no se lleve a cabo el tratamiento de sus datos de carácter personal o se cese en el mismo, salvo motivos legítimos o para el ejercicio o defensa de posibles reclamaciones, en cuyo caso los mantendremos bloqueados durante el plazo correspondiente mientras persistan las obligaciones legales.</ion-item>
              <ion-item><b>Limitación del tratamiento:</b> En determinadas circunstancias, los interesados podrán solicitar la limitación del tratamiento de sus datos, en cuyo caso únicamente se conservarán para el ejercicio o defensa de reclamaciones.</ion-item>
              <ion-item><b>Portabilidad de los datos:</b> las personas interesadas pueden solicitar recibir los datos que le incumban y que nos haya facilitado o que –siempre que técnicamente sea posible– se los enviemos a otro responsable de tratamiento de su elección, en un formato estructurado de uso común y lectura mecánica.</ion-item>
          </ion-list>
  
          <h5>7.- DATOS DE MENORES</h5>
          <p>Asana Flow no tratará datos de menores de 14 años. Por tanto, el usuario deberá abstenerse de facilitarlos si no tiene esa edad o, en su caso, de facilitar datos de terceros que no tengan la citada edad. El responsable se exime de cualquier responsabilidad por el incumplimiento de esta previsión.</p>
  
          <h5>8.- MEDIDAS DE SEGURIDAD QUE APLICAMOS</h5>
          <p>Asana Flow ha adoptado un nivel óptimo de seguridad de la información, poniendo los medios y adoptando las medidas técnicas y organizativas adecuadas según el estado de la tecnología para evitar la pérdida, mal uso, alteración, acceso no autorizado o robo de los Datos Personales.</p>
  
          <h5>9.- DERECHOS DEL USUARIO</h5>
          <p>La normativa en materia de protección de datos reconoce al usuario una serie de derechos, los cuales Asana Flow como responsable, tiene obligación de satisfacer:</p>
          <ion-list>
              <ion-item>A saber, si se están tratando sus datos o no.</ion-item>
              <ion-item>A acceder a los datos personales objeto del tratamiento.</ion-item>
              <ion-item>A solicitar la rectificación de los datos si son inexactos.</ion-item>
              <ion-item>A solicitar la supresión de los datos si ya no son necesarios para los fines para los que fueron recogidos o si retira el consentimiento otorgado.</ion-item>
              <ion-item>A solicitar la limitación del tratamiento de los datos, en algunos supuestos, en cuyo caso sólo se conservarán de acuerdo con la normativa vigente.</ion-item>
              <ion-item>A la portabilidad de los datos, que serán facilitados en un formato estructurado, de uso común o lectura mecánica; o podrán ser enviados al nuevo responsable designado. Sólo es válido en determinados supuestos.</ion-item>
              <ion-item>A presentar una reclamación ante la Agencia Española de Protección de Datos o autoridad de control competente.</ion-item>
              <ion-item>A revocar el consentimiento para cualquier tratamiento para el que hubiera consentido, en cualquier momento.</ion-item>
          </ion-list>
  
          <h5>10.- COOKIES</h5>
          <p>La Web utiliza Cookies, si deseas ampliar tu información, puedes hacerlo accediendo a nuestra <a href="#">Política de Cookies</a>.</p>
  
          <h5>11.- CONSERVACIÓN DE LOS DATOS DE CARÁCTER PERSONAL</h5>
          <p>Los datos personales proporcionados se conservarán durante todo el tiempo necesario para cumplir con la finalidad del tratamiento y mientras dure la relación contractual o servicio que haya solicitado, salvo que el usuario ejerza su derecho de supresión.</p>
  
          <h5>12.- POSIBILIDAD DE RETIRAR EL CONSENTIMIENTO</h5>
          <p>En cualquier momento, podrá retirar el consentimiento otorgado sin que ello afecte a la licitud del tratamiento realizado previamente a la retirada del consentimiento.</p>


      </ion-card-content>
    </ion-card>
  </ion-content>

  <ion-footer>
    <ion-toolbar color="primary">
      <ion-title class="ion-text-center" style="font-size: 1rem;">Isabel Carrasco Gallego ©</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="goToPrivacidad()" fill="clear" routerLink="#">Política y privacidad</ion-button>
        <ion-button fill="clear" routerLink="#">Términos y condiciones</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
