<ion-header class="bg-degradado-multiple">
  <ion-toolbar class="bg-degradado-multiple p-4" color="bg-degradado-multiple">
    <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
      <!-- IZQUIERDA: Logo + navegación -->
      <div style="display: flex; align-items: center; flex-wrap: wrap;">
        <img src="/assets/img/logoyoga.png" alt="logo" width="50" />
        <h6 class="ms-3 me-3 mb-0 text-white">Asana flow</h6>

        <ion-button fill="clear" (click)="goToHome()" class="text-white">Inicio</ion-button>
        <ion-button fill="clear" (click)="goToSobreNosotros()" class="text-white">Sobre Nosotros</ion-button>

        <!-- Rutinas -->
        <ion-item class="bg-transparent" lines="none" style="--padding-start: 0; --inner-padding-end: 0; margin-left: 8px;">
          <ion-select class="select-transparente" aria-label="RUTINAS" interface="popover" placeholder="RUTINAS" (ionChange)="onRutinaChange($event)">
            <ion-select-option value="guiadas">Rutinas guiadas</ion-select-option>
            <ion-select-option value="personalizadas">Rutinas personalizadas</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg-azulclaro">
  <!-- FORMULARIO PARA RUTINA -->
  <ion-card class="bg-azuloscuro">
    <ion-item >
      <ion-label class="text-azulmedio" position="stacked">Nombre de la rutina: </ion-label>
      <ion-input  [(ngModel)]="nuevaRutina.nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Selecciona la dificultad</ion-label>
      <ion-select [(ngModel)]="nuevaRutina.dificultad" name="dificultad" required interface="popover">
        <ion-select-option [value]="Dificultad.Facil">Fácil</ion-select-option>
        <ion-select-option [value]="Dificultad.Media">Media</ion-select-option>
        <ion-select-option [value]="Dificultad.Dificil">Difícil</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" class="bg-azuloscuro" (click)="guardarYAsignarRutina()" [disabled]="cargando">
      {{ cargando ? 'Guardando...' : 'Guardar Rutina' }}
      <ion-spinner *ngIf="cargando" slot="end"></ion-spinner>
    </ion-button>
  </ion-card>

  <!-- FILTRO DE DIFICULTAD -->
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="6">  
        <ion-item>
          <ion-label class="text-azulmedio"> Filtra por dificultad 📈 </ion-label>
          <ion-select class="ps-2" [(ngModel)]="dificultadSeleccionada" placeholder="Todas"> <!-- Data binding bidireccional -->
            <ion-select-option value="">Todas</ion-select-option>
            <ion-select-option [value]="Dificultad.Facil">Fácil</ion-select-option> <!-- Asocia los valores del enumn como opciones-->
            <ion-select-option [value]="Dificultad.Media">Media</ion-select-option>
            <ion-select-option [value]="Dificultad.Dificil">Difícil</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- LISTADO DE RUTINAS FILTRADAS -->
    <ion-row>
      <!-- bucle de rutinas-->
      <ion-col *ngFor="let rutina of rutinasFiltradas" size="12" size-md="6" size-xl="4">
        <ion-card class="bg-amarillopastel">
          <ion-row class="p-2">
            <ion-card-content>
              <ion-card-title class="text-naranjamedio pb-2">{{ rutina.nombre }}</ion-card-title>
              
              <p class="text-azuloscuro">Dificultad: {{ rutina.dificultad }}</p>
              <p class="text-azuloscuro">Fecha creación: {{ rutina.fechaCreacion | date: 'shortDate' }}</p>

              <ion-buttons class="pt-2" slot="end">
                <ion-button (click)="editarRutina(rutina)" color="success">
                  <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-button>
                <ion-button color="danger" (click)="eliminarRutina(rutina)">
                  <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-button>
                <ion-button class="text-azulmedio" (click)="empezarRutina(rutina.id)">
                  Empezar la rutina ▶️
                </ion-button>
              </ion-buttons>
            </ion-card-content>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="bg-degradado-multiple" class="bg-degradado-multiple">
    <ion-title class="text-white">Isabel Carrasco Gallego ©</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToPrivacidad()" fill="clear" class="text-white">Política y privacidad</ion-button>
      <ion-button fill="clear" class="text-white">Términos y condiciones</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
