:root {
    --azul-oscuro: #28537e;
    --azul-medio: #3385C0;
    --azul-claro: #dee5ec;
    --amarillo-pastel: hsl(38, 95%, 83%);
    --naranja-medio: #e06126;
    --verde-medio: #2aa530;
  }
  
  .bg-amarillopastel {
    background-color: var(--amarillo-pastel);
  }
  
  .bg-naranjamedio {
    background-color: var(--naranja-medio);
  }
  
  .text-azulmedio {
    color: var(--azul-medio);
  }
  
  .text-naranjamedio {
    color: var(--naranja-medio);
  }
  
  .text-amarillopastel {
    color: var(--amarillo-pastel);
  }
  
  .bg-azulmedio {
    background-color: var(--azul-medio);
  }
  
  .text-azulclaro {
    color: var(--azul-claro);
  }
  
  .bg-azulclaro {
    background-color: var(--azul-claro);
  }
  
  
  .text-azuloscuro {
    color: var(--azul-oscuro);
  }

  .text-verdemedio {
    color: var(--verde-medio);
  }

  .bg-verdemedio {
    background-color: var(--verde-medio);
    
  }
  
  .bg-azuloscuro {
    background-color: var(--azul-oscuro);
  }
  
  .bg-degradado-multiple {
    background: linear-gradient(to left, #b2c3d8, #3385C0, #0056b3);
  }

  ion-item.bg-transparent,
ion-select.select-transparente {
  --background: transparent;
  --ion-background-color: transparent;
  background: transparent !important;
  --color: white;
  --placeholder-color: white;
  --placeholder-opacity: 1;
  --highlight-color-focused: white;
  --highlight-color: white;
}
  