<ion-header class="bg-degradado-multiple">

  <ion-toolbar class="bg-degradado-multiple p-4" color="bg-degradado-multiple">
    <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">

      <!-- IZQUIERDA: Logo + navegación -->
      <div style="display: flex; align-items: center; flex-wrap: wrap;">
        <img src="/assets/img/logoyoga.png" alt="logo" width="50" />
        <h6 class="ms-3 me-3 mb-0 text-white">Asana flow</h6>

        <ion-button fill="clear" (click)="goToHome()" class="text-white">Inicio</ion-button>
        <ion-button fill="clear" (click)="goToSobreNosotros()" class="text-white">Sobre Nosotros</ion-button>

        <!-- Rutinas -->
        <ion-item class="bg-transparent" lines="none"
          style="--padding-start: 0; --inner-padding-end: 0; margin-left: 8px;">
          <ion-select class="select-transparente" aria-label="RUTINAS" interface="popover" placeholder="RUTINAS"
            (ionChange)="onRutinaChange($event)">
            <ion-select-option value="guiadas">Rutinas guiadas</ion-select-option>
            <ion-select-option value="personalizadas">Rutinas personalizadas</ion-select-option>
          </ion-select>
        </ion-item>

      </div>

    </div>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding bg-azulclaro">

  <!-- Siempre mostrar el selector para agregar posturas -->
  <ion-card class="bg-amarillopastel">
    <ion-card-header>
      <ion-card-title class="text-azulmedio">Agregar postura a la rutina</ion-card-title>
    </ion-card-header>
    <ion-item class="bg-amarillopastel m-3">
      <ion-button expand="block" (click)="abrirModalPosturas()">Seleccionar postura</ion-button>
      <ion-text class="ps-2" *ngIf="posturaSeleccionada">
        {{ posturaSeleccionada.postura }}
      </ion-text>

    </ion-item>

    <ion-button expand="block" class="ion-margin" (click)="asociarPostura()">Agregar</ion-button>
  </ion-card>

  <!-- Mostrar posturas si existen, o el mensaje -->
  <ion-card *ngIf="posturasDeLaRutina.length > 0; else sinPosturas" class="bg-azulclaro">
    <ion-card-header>
      <ion-card-title class="text-azulmedio">Posturas asociadas a esta rutina</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let postura of posturasDeLaRutina" lines="full" class="ion-padding-vertical">
          <ion-grid>
            <ion-row>
              <!-- Dificultad -->
              <ion-col size="6" class="ion-text-start text-azuloscuro">
                <strong>Dificultad:</strong> {{ postura.dificultad || 'N/A' }}
                <p>Tiempo que debes mantener esta postura: <strong>{{postura.duracion}} minutos</strong> </p>
              </ion-col>

              <!-- Nombre -->
              <ion-col size="6" class="ion-text-end text-azuloscuro">
                <strong>{{ postura.postura }}</strong>
              </ion-col>
            </ion-row>

            <ion-row class="ion-padding-top">
              <!-- Video -->
              <ion-col size="12">
                <iframe *ngIf="postura.video"
                  [src]="sanitizer.bypassSecurityTrustResourceUrl(transformarUrlYoutube(postura.video))" width="100%"
                  height="450" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                </iframe>
              </ion-col>

            </ion-row>

            <ion-row>
              <ion-col size="12" class="ion-text-end">
                <ion-button color="danger" size="small" (click)="eliminarPostura(postura.id)">
                  Eliminar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ng-template #sinPosturas>
    <ion-text color="medium">
      <p class="ion-padding">No hay posturas asociadas a esta rutina.</p>
    </ion-text>
  </ng-template>

</ion-content>

<ion-footer>
  <ion-toolbar color="bg-degradado-multiple" class="bg-degradado-multiple">
    <ion-title class="text-white">Isabel Carrasco Gallego ©</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToPrivacidad()" fill="clear" class="text-white">Política y privacidad</ion-button>
      <ion-button fill="clear" class="text-white">Términos y condiciones</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>