.bg-azulclaro {
    background-color: #d0f1f9;
  }
  
  .bg-amarillopastel {
    background-color: #fff9db;
  }
  
  .bg-degradado-multiple {
    background: linear-gradient(to right, #1e3c72, #2a5298);
  }
  
  .text-naranjamedio {
    color: #f18f01;
  }
  
  .text-azulmedio {
    color: #0278ae;
  }
  
  .text-azuloscuro {
    color: #003049;
  }
  
  .text-white {
    color: #ffffff;
  }
  