.bg-azulclaro {
    background-color: #d0f1f9;
  }
  
  .bg-amarillopastel {
    background-color: #fff9db;
  }
  
  .bg-degradado-multiple {
    background: linear-gradient(to left, #b2c3d8, #3385C0, #0056b3);
  }
  
  
  .text-naranjamedio {
    color: #f18f01;
  }
  
  .text-azulmedio {
    color: #0278ae;
  }
  
  .text-azuloscuro {
    color: #003049;
  }
  
  .text-white {
    color: #ffffff;
  }
  