<ion-header>
  <ion-toolbar class="bg-degradado-multiple">
    <ion-buttons slot="start">
      <img src="/assets/img/logoyoga.png" alt="logo" width="50" />
      <ion-button>Inicio</ion-button>
      <ion-button>Sobre nosotros</ion-button>
    </ion-buttons>

    <ion-title class="text-white">Asana Flow</ion-title>

    <ion-buttons slot="end">
      <ion-item>
        <ion-select aria-label="Rutinas" interface="popover" placeholder="Rutinas">
          <ion-select-option value="guiadas">Rutinas guiadas</ion-select-option>
          <ion-select-option value="personalizadas">Rutinas Personalizadas</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button fill="clear" class="text-white">Login | Register</ion-button>
      <ion-button fill="clear" class="text-white ms-2">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="bg-azulclaro" fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h3 class="text-center pt-3 text-naranjamedio">Biblioteca de asanas</h3>
        <h5 class="text-center text-azuloscuro">Categorías:</h5>
        <div class="d-flex justify-content-center flex-wrap gap-2 mt-3">
          <ion-button class="btn btn-warning text-azulmedio" expand="block" fill="solid">Equilibrio de pie</ion-button>
          <ion-button class="btn btn-warning text-azulmedio" expand="block" fill="solid">Flexión anterior</ion-button>
          <ion-button class="btn btn-warning text-azulmedio" expand="block" fill="solid">Flexión posterior</ion-button>
          <ion-button class="btn btn-warning text-azulmedio" expand="block" fill="solid">Invertidas</ion-button>
          <ion-button class="btn btn-warning text-azulmedio" expand="block" fill="solid">Brazos / Core</ion-button>
          <ion-button class="btn btn-warning text-azulmedio" expand="block" fill="solid">Torsión</ion-button>
          <ion-button class="btn btn-warning text-azulmedio" expand="block" fill="solid">Apertura de caderas</ion-button>
          <ion-button class="btn btn-warning text-azulmedio" expand="block" fill="solid">Meditación</ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="pt-3 pb-2">
      <ion-col size="12">
        <h4 class="text-azuloscuro">Equilibrio de pie</h4>
      </ion-col>

      <ion-col size-md="6" class="bg-amarillopastel">
        <h5 class="text-naranjamedio pt-3">Beneficios:</h5>
        <p class="text-azuloscuro">Efecto de anclarse a la tierra</p>
        <p class="text-azuloscuro">Efecto de anclarse a la tierra</p>
        <p class="text-azuloscuro">Efecto de anclarse a la tierra</p>
        <p class="text-azuloscuro">Efecto de anclarse a la tierra</p>
      </ion-col>

      <ion-col size-md="6" class="bg-amarillopastel">
        <h5 class="text-naranjamedio pt-3">Contraindicaciones:</h5>
        <p class="text-azuloscuro">Efecto de anclarse a la tierra</p>
        <p class="text-azuloscuro">Efecto de anclarse a la tierra</p>
        <p class="text-azuloscuro">Efecto de anclarse a la tierra</p>
        <p class="text-azuloscuro">Efecto de anclarse a la tierra</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-md="4">
        <ion-card>
          <img src="https://www.theclassyoga.com/wp-content/uploads/2024/03/tadasana-samasthiti.jpg" />
          <ion-card-header>
            <ion-card-title class="text-naranjamedio">
              Tadasana o Samasthiti – Postura de la montaña
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="text-azulmedio">
            Dificultad: Fácil
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="4">
        <ion-card>
          <img src="https://www.theclassyoga.com/wp-content/uploads/2024/03/tadasana-samasthiti.jpg" />
          <ion-card-header>
            <ion-card-title class="text-naranjamedio">
              Tadasana o Samasthiti – Postura de la montaña
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="text-azulmedio">
            Dificultad: Fácil
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="bg-degradado-multiple">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="d-flex justify-content-between align-items-center">
          <h3 class="text-white">Isabel Carrasco Gallego ©</h3>
          <div>
            <a href="#" class="text-white me-3">Política y privacidad</a>
            <a href="#" class="text-white">Términos y condiciones</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
